.textWrapper {
 
    /* background: #1C2022; */
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0vh 1vw 0vh 1vw;
    justify-content: space-around;
    align-content: center;
    overflow: auto;
  }
  