input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"],
textarea,
select {
  width: 18em;
  height: 2em;
}

label {
  margin-top: 1rem;
}

label.checkbox {
  font-weight: normal;
}

.margin-top {
  margin-top: 7em;
}