.userProfileImg {
    height: 300px;
    width: 300px;
}

/* Pale Gold: #C0B283
Silk: #DCD0C0
Paper: #F4F4F4
Charcoal: #373737 */

.userContainer {
    background-color:  rgb(192, 178, 131,0.5);
    padding-bottom: 5vh;
    border: 3px solid #f1f1f1;
    padding: 0 2%;
}

h4 {
    color: ivory;
}

input[type="text"] {
    height: 2em;
}

button[type="submit"] {
    height: 2em;
    margin: 1em;
    padding: 0;
    width: 80px;
}