.profile-image-lg {
    height: 60px;
    width: 60px;
    border-radius: 3px;
}

.profile-row {
}

.profile-col {
    height: 100%;
}

.user-container {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    padding: 1em;
    flex: 1;
    overflow: auto;
}

h4 {
    color: ivory;
}

.user-input {
    width: 400px;
}

input[type="text"] {
    height: 2em;
}

button[type="submit"] {
    height: 2em;
    margin: 1em;
    padding: 0;
    width: 80px;
}