  .selected-house-image {
    height: 300px;
    width: 300px;
  }

  .button-search {
    height: 2em !important;
    width: 90% !important;
    margin: 5px 0 0 0 !important;
  }

  .button-detail {
    height: 2em !important;
    width:50% !important;
    margin: 5px 0 0 0 !important;
  }

  .button-house-detail {
    height: 2em !important;
    width:50% !important;
    margin: 0px 0 0 0 !important;
    float: right;
    margin-right: 25px !important;
    padding-bottom: 5px;
  }

  .map-container {
    width: 100%;
    height: 100%;
  }

  .selected-house-container {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    padding: 0;
  }

  .search-house-form {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    padding-top: 5px !important;
  }

  .list-of-houses {
    /* background-color: rgb(0,0,0); Fallback color
    background-color: rgba(0,0,0, 0.4); Black w/opacity/see-through */
    /* color: white;
    font-weight: bold; */
    /* border: 3px solid #f1f1f1; */
    padding: 0;
    margin-top: 1.5%;
  }

  .list-item-heading {
    font-size: 25px;
    border-bottom: .5px solid #f1f1f1;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 6px;
    padding-top: 0px;
    padding-bottom: 3px;
  }

  .list-item-text {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  
  .list-item {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    padding: 1px 0px 0px 15px;
    margin-top: 1.5%;
  }

  .selected-house-container {
    padding: 0 2%;
  }

  .map-selected-house-row {
    height: 400px;
  }

  .search-house-form {
    width: 100%;
    height: 6em;
    padding: 0 20px;
    margin-top: 1.5%;
  }

  .input-headline-field,
  .input-street-field,
  .input-city-field,
  .input-state-field,
  .input-zip-field {
    height: 2em !important;
    width: 100% !important;
    border: 1px solid cadetblue !important;
    margin-top: 5px;
  }