  .landingImg {
    height: 300px;
    width: 300px;
}

.landSrchHouseBtn {
    margin: 0 !important;
}

.landSrchHouseFrm {
    border: 1px solid black;
    background-color: blueviolet;
}

.landSrchInput {
    width: 100% !important;
}