/* .no-underline {
    text-decoration: none;
}

.left-padding {
    margin: 4px 1em;
}

.house-list-row {
    width: 93vw;
    margin: 1em auto;
    padding: 0;
    background-color: ivory;
    border-radius: 3px;
}

.house-list-col {
    color: #373737;
    font-size: larger;
}

.house-list-text {
    margin: 0;
}

.float-right {
    height: 100%;
}

.col-centered {
    padding: 0;
} */

.house-list-card {
    margin: 1em 0;
    width: 100%;
    height: 3em;
}

a:hover {
    text-decoration: none;
    color: #C0B283;
}